body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0.125em;
}
.topimages {
display: flex;
justify-content: space-between;
width: .header.width;
}
.topimage {
width: 14%;
height: 14%;
object-fit: cover;
}
.title {
margin-top: 50px;
text-align: center;
font-family: verdana;
font-weight: bold;
font-size: 30px;
}
.main {
display: flex;
justify-content: center;
text-align: justify;
margin-top: 50px;
margin-left: auto;
margin-right: auto;
flex-direction: column;
width: 60%;
font-family: helvetica;
}
.image {
display: flex;
justify-content: center;
text-align: center;
}
button:hover ~ .annimage {
  height: 100px;
}
.form {
margin-left: 25px;
}
.dobslider {
width: 25%;
}
.sr-only {
  display: none;
}
.res-elem-one {
  background-color: grey;
}
.res-elem-two {
  background-color: white;
}
.navbar-brand {
background-color: green;
display: flex;
text-align: justify;
justify-content: center;
}
.navbar {
background-color: green;
justify-content: center;
flex-direction: column;
color: whitesmoke;
}
.navbar .navbar-nav > li > a {
    color: whitesmoke;
}