.topimages {
display: flex;
justify-content: space-between;
width: .header.width;
}
.topimage {
width: 14%;
height: 14%;
object-fit: cover;
}
.title {
margin-top: 50px;
text-align: center;
font-family: verdana;
font-weight: bold;
}
.main {
display: flex;
margin-top: 50px;
flex-direction: column;
width: 80%;
text-align: justify;
margin-left: 80px;
font-family: helvetica;
}
.image {
display: flex;
justify-content: center;
text-align: center;
}
button:hover ~ .annimage {
  height: 100px;
}
.form {
margin-left: 25px;
}
.dobslider {
width: 25%;
}