<!DOCTYPE html>
{% include "top.html" %}
<div class="title">Поиск по корпусу</div>
<div class="form" form method="post" action="http://127.0.0.1:1500">
    <label class="form-label">Язык</label>
    <select name="lang">
        <option></option>
        {% for lang in languages: %}
            <option>{{ lang }}</option>
        {% endfor %}
    </select><br>
    Образование:
    <select name="education">
        <option></option>
        {% for level in levels: %}
            <option>{{ level }}</option>
        {% endfor %}
    </select><br>
    Поселение:
    <select name="settlement">
        <option></option>
        {% for settlement in settlements: %}
            <option>{{ settlement }}</option>
        {% endfor %}
    </select><br>
    Диктор:
    <select name="dictor">
        <option></option>
        {% for dictor in dictors: %}
            <option>{{ dictor }}</option>
        {% endfor %}
    </select><br>
    Пол:
    <select name="gender">
        <option></option>
        <option>м</option>
        <option>ж</option>
    </select><br>
    Год рождения:

    <button type="submit">Поиск</button>>
</div>
</body>
</html>