<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Главная</title>
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
<div class="topimages">
  <img src="/static/image2.jpg" class="topimage">
  <img src="/static/image3.jpg" class="topimage">
  <img src="/static/image4.jpg" class="topimage">
  <img src="/static/image5.jpg" class="topimage">
  <img src="/static/image6.jpg" class="topimage">
  <img src="/static/image7.jpg" class="topimage">
  <img src="/static/image8.jpg" class="topimage">
</div>
<div class="header">
  Корпус "Интонация диалогической речи миноритарных народов НСО и сопредельных регионов"
</div>
<nav class="topnav">
  <a href="{{ url_for('main_page') }}">Главная</a>
  <a href="{{ url_for('sen_data') }}">Поиск по корпусу</a>
  <a href="{{ url_for('methods') }}">Методика и материал</a>
  <a href="{{ url_for('authors') }}">Авторы</a>
  <a href="{{ url_for('authors') }}">Контакты</a>
  <a href="{{ url_for('authors') }}">Для цитирования</a>
</nav>
<div class="title">Главная</div>
<div class="main">
  <p>Работа выполнена в рамках регионального конкурса РНФ 2024 года «Проведение фундаментальных научных исследований и поисковых научных исследований малыми отдельными научными группами» по Проекту № 24-28-20231 “Диалог в полиэтническом обществе как отражение языковой картины мира миноритарных этносов Новосибирской области” (руководитель Добрынина А.А.). </p>
  <p>База данных состоит из диалогов и по 200 расшифрованных, аннотированных в программе Praat диалогических высказываний по языкам барабинцев, чатов, телеутов, кумандинцев, немцев-меннонитов.</p>
  <p>Данная интонационная база данных по бесписьменным языкам народов Сибири позволит специалистам и носителям этих языков получить представление о суперсегментных особенностях исследованных идиомов. Поиск осуществляется по языку, диктору, полу, населенному пункту, типу высказывания, типу интонационной конструкции, по тематике. В базе предусмотрена возможность прослушать целый диалог, который сопровождается стандартизированным графическим текстом на этническом языке и переводом на русский.</p>
</div>
</body>
</html>