<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Главная</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="header">
  Корпус "Интонация диалогической речи миноритарных народов НСО и сопредельных регионов"
</div>
<div class="topnav">
  <a href="main_page.html">Главная</a>
  <a href="http://127.0.0.1:1000">Поиск по корпусу</a>
  <a href="methods.html">Методика и материал</a>
  <a href="authors.html">Авторы</a>
</div>
<div class="text">
  <p>Работа выполнена в рамках регионального конкурса РНФ 2024 года «Проведение фундаментальных научных исследований и поисковых научных исследований малыми отдельными научными группами» по Проекту № 24-28-20231 “Диалог в полиэтническом обществе как отражение языковой картины мира миноритарных этносов Новосибирской области” (руководитель Добрынина А.А.). </p>
  <p>База данных состоит из диалогов и до 200 расшифрованных, аннотированных в программе Praat диалогических высказываний по языкам барабинцев, чатов, телеутов, кумандинцев, немцев-меннонитов.</p>
  <p>Данная уникальная интонационная база данных по бесписьменным языкам народов Сибири позволит специалистам и носителям этих языков получить представление о суперсегментных особенностях исследованных идиомов. Поиск осуществляется по языку, диктору, полу, населенному пункту, типу высказывания, типу интонационной конструкции, по тематике. В базе предусмотрена возможность прослушать целый диалог, который сопровождается стандартизированным графическим текстом на этническом языке и переводом на русский.</p>
</div>
</body>
</html>