.header {
display: flex;
color: black;
font-size: 30px;
}
.topnav {
display: flex;
justify-content: space-around;
background-color: black;
color: white;
a:visited{color:white;}
}
.text {
display: flex;
flex-direction: column;
width: 80%;
text-align: justify;
margin-left: 80px;
}
.image{
display: flex;
justify-content: center;
}